.background {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.wrapper {
  /* border: solid red 1px; */
  display: flex;
  height: 350px;
  width: 1200px;
  max-width: 98vw;
}
.left {
  flex-direction: row;

}
.right {
  flex-direction: row-reverse;

}
.textSide, .photoSide {
  height: 100%;
}
.textSide {
  width: 50%;
  /* border: solid green 1px; */
  /* background: linear-gradient(to bottom, rgb(135, 255, 135), rgb(0, 217, 255));
  background: black; */
  /* background: rgba(255, 255, 255, .7); */
  color: white;
  font-size: 1.25rem;
}
.title {
  font-size: 2rem;
  margin: 1rem;
  color: var(--primary-blue);
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-bottom: 30px;

}
.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px; /* Adjust the distance from the text */
  width: 100%;
  height: 6px; /* Thickness of the underline */
  background: var(--primary-gradient-darker); /* Use your gradient here */
}
.blueTitle {
  color: var(--primary-blue);
}
.whiteTitle {
  color: white;
}

.text {
  font-size: 1.25rem;
  text-align: center;
  color: black;
}
.whiteText {
  text-align: center;
}

.photoSide, .textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red 1px; */

}
.photoSide {
  width: 50%;
  padding: 0 2rem;
}
.textSide {
  width: 50%;
  padding: 0 2rem;
}

.image {
  box-sizing: border-box;
  max-height: 95%;
  max-width: 90%;
  /* transform: rotate(10deg); */
}
.whiteGlow {
}

@media(max-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
  .background {
    padding: 2rem 0;
    border: none;
    width: 100vw;
    margin: 0;
  }
  .wrapper {
    height: auto;
    width: 100%;
    /* border: solid white 1px; */
    margin: 0;
  }

  .left, .right {
    flex-direction: column-reverse;
    width: 100%;
  }
  .textSide, .photoSide {
    width: 100%;
  }
  .textSide {
    padding: 0 .5rem;
  }
  .photoSide {
    padding: 1rem 0;
    /* max-height: 150px; */
  }
  .left {
    flex-direction: column;

  }
  .right {
    flex-direction: column;
    /* flex-direction: column-reverse; */
  }
  .image {
    max-height: 50vh;
    height: auto;
    margin: 1rem 0;
    /* width: 100vw; */
    max-width: 98vw;
  }

}