.skillTestWrapper {
  margin: .5rem;
  width: 33%;
  height: 500px;
  padding: .5rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.enableUpdateButton {
  background-color: rgb(250, 137, 137);
  color: black;
  padding: .5rem 0rem .5rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.25rem;
  border: none;
}
.skillName {
  font-weight: bold;
  margin-top: 1.5rem;
}
.canUpdateMessage:hover {
  cursor: pointer;
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  height: 15px;
  width: 15px;
}
.icon:hover {
  color: white;
  cursor: pointer;
}

.select {
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: 4px;
  width: 50px;
}
.infoHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
  color: rgb(128, 255, 128);
}
.confirmSkillUpdateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
}
.confirmMessage {
  font-size: 2.5rem;
  margin: 1rem;
}
.testsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 1rem;
}
.currentLevel {
  background-color: white;
  color: black;
  padding: .5rem .5rem .5rem .5rem;
  border-radius: 4px;
  width: 250px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.testDescription {
  height: 150px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}