.signOutButton {
  margin: 2rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
}
.headerWrapper {
  background: var(--primary-blue);
  width: 100%;
}
.logo {
  height: 100px;
}
.signOutButton:hover {
  cursor: pointer;
}
.studentCardWrapper{
  /* margin-top: 2rem; */
  font-weight: bold;
  padding: 1rem;
}
.studentCardWrapper p {
  background-color: (rgba(255, 255, 255, 0.7));
}