.navbarContainer {
  box-sizing: content-box;
  position: absolute;
  top: 8vw;
  left: 0;
  width: 250px;
  height: calc(100vh - 10vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 4px rgb(153, 255, 139);
  background: rgba(0, 0, 0, 0.1);
  margin: 1vw;
  backdrop-filter: blur(5px);

}
.navLink {
  color: white;
  margin: 2rem;
  font-size: 1.5rem;

}

