.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

.overlayOn {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  backdrop-filter: blur(2px);
}


.headerContainer {
  top: 0;
  position: relative;
  /* position: absolute; */
  z-index: 3;
  width: 100%;
  /* padding: .5rem; */
  height: 100px !important;
  background: rgba(0, 0, 0, 0.4);
  background: rgb(46, 46, 46);
  /* background: black; */
  background: white;
  backdrop-filter: blur(5px);
  /* border-bottom: solid 1px rgb(103, 103, 103); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* margin-top: 1rem; */
  /* min-height: 100px; */
  display: none;
  /* overflow-x: hidden; */
  /* border: solid red 4px; */
}
.leftSideNav, .rightSideNav {
  display: flex;
  flex-direction: row;
}
.menuHandleIconWrapper {
  margin: 0 2rem 0 0;
  height: 2rem;
  width: 2rem;
  /* border: solid red 1px; */
}
.menuIcon {
  height: 100%;
  width: 100%;
  color: var(--primary-blue);
  color: rgb(135, 207, 143);
}
.navTray {
  position: fixed;
  width: 90vw;
  height: 100vh;
  top: 0rem;
  transition: left 0.5s, display 0.5s;
  background: var(--primary-blue);
  margin: 0;
  color: white;
  padding: 1rem;
  display: block;
  z-index: 200
}
.menuOpen {
  left: 10vw;
}
.menuClosed {
  left: 110vw;
  position: absolute;
}
.backIconWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  margin: 0 1rem 0 0;
  height: 2rem;
  width: 2rem;
  /* border: solid red 4px; */
}
.backIcon {
  height: 100%;
  width: 100%;
  color: var(--primary-blue);
  color: rgb(135, 207, 143);
}
.title {
  font-family: UnicaOne;
  font-size: 4rem;
  font-weight: 200;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logoWrapper, .navTrayLogoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin-left: 1rem;
  height: 90px;
}
.navTrayLogoWrapper {
  width: 100%;
  margin: 0 0 3rem 0;
  position: relative;
  height: 50px;
}
.titleLogo {
  position: relative;
  margin: .5rem 0 0 2rem;
  height: 70px;

}
.logo {
  position: relative;
  left: 0;
  top: 0;
  height: 65px;
  /* border: solid white 2px; */
}

.homeButton {
  margin: 0;
  padding: 0;
}
.loginButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
}
.profileImgContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  margin-right: 3rem;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  /* border: solid rgb(255, 255, 255) 1px; */
  overflow: hidden;
}

.navLinkContainer {
  position: relative; /* Ensures the dropdown is positioned relative to this container */
  height: fit-content;
  /* border: solid 1px black; */
}

.navLink {
  margin: 1rem 0.75rem;
  transition: transform 0.5s;
  font-size: 1.25rem;
  height: fit-content;
  color: white;
  font-weight: 800;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  text-align: center;
  position: relative;
  /* border: solid 1px black; */
}


.bookingLink {
  /* border: solid red 1px; */
  box-shadow: 0 0  4px 0 rgba(0, 0, 0, 0.4);
  /* border: solid 1px rgb(0, 216, 94); */
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
  color: black;
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  font-weight: bold;
  background: var(--primary-gradient);
  transition: transform 0.5s;
  height: fit-content;
  text-align: center;

}
.bookingLink:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon {
  margin: 0 0 .125rem .5rem;
  font-size: 1rem;
  color: var(--primary-blue);
  transition: transform 0.5s;
}
@media (max-width: 768px) {
  .headerContainer {
    display: flex;
    /* height: 100px !important; */
  }
}
