.scheduleContainer {
  /* Add styles for the schedule container */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: black;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: solid rgb(99, 245, 99) 4px; */
  font-family: Economica;
}

.dayContainer {
  margin: 1rem;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.dayContainer h3 {
  display: inline-block;
  width: 110%;
  margin-left: -5%;
  color: black;
  padding: 10px;
  font-size: 2rem;
}

.columns {
  position: relative;
  display: flex;

}

.timeColumn,
.statusColumn {
  font-size: 1.25rem;
  padding: .5rem;
  font-family: Economica;
}

.timeColumn {
  background-color: white;
  color: black;
  width: 20%;

}
.statusColumn {
  width: 80%;
}

.open {
  padding: 5px;
}
.booked {
  color: black;
  font-family: Economica Bold;
}

.mondayOpen {
  background-color: var(--blueOpen);
}
.mondayBooked {
  background-color: var(--blueBooked);
  font-family: Economica;
  /* background: linear-gradient(to right, rgb(49, 200, 255), rgb(0, 135, 189)); */
  color: black;
  font-weight: bold;
}

.tuesdayOpen {
  background-color: var(--greenOpen);
}
.tuesdayBooked {
  background-color: var(--greenBooked);
  font-family: Economica;
  /* background: linear-gradient(to right, rgb(38, 255, 197), rgb(7, 255, 78)); */
}
.wednesdayOpen {
  background-color: var(--redOpen);
}
.wednesdayBooked {
  background-color: var(--redBooked);
  font-family: Economica;
  /* background: linear-gradient(to right, rgb(254, 53, 50), rgb(247, 213, 20)); */
}
.wednesdayCancellation {
  background-color: var(--redOpen);
  color: white;
}
.thursdayOpen {
  background-color: var(--yellowOpen);
}
.thursdayBooked {
  background-color: var(--yellowBooked);
  font-family: Economica;
  /* background: linear-gradient(to right, rgb(255, 245, 132), rgb(243, 182, 0)); */

}
.fridayOpen {
  background-color: var(--purpleOpen);
}
.fridayBooked {
  background-color: var(--purpleBooked);
  font-family: Economica;
  /* background: linear-gradient(to right, #9100da, rgb(92, 0, 220)); */
}
.sundayOpen {
  background-color: var(--blueOpen);
}
.sundayBooked {
  background-color: var(--blueBooked);
  font-family: Economica;

}
.scheduleHeadersContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* border: solid white 4px; */
  padding: 1rem;
  margin: 1rem;
}
.scheduleHeader {
  font-size: 2rem;
  width: 500px;
  text-align: center;
  color: white;
  display: block;
}
.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  color: rgb(104, 245, 137);
  z-index: 1;
}
.arrow:hover {
  transform: scale(1.1);
  /* color: rgb(36, 146, 179); */
  cursor: pointer;
}
.dateAndDotsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* border: solid white 4px; */
  padding-top: .5rem;

}
.dotContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.navDot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(104, 245, 137);
  margin: 0 .5rem 0 .5rem;
}
.activeDot {
  transform: scale(1.5);
  background-color: rgb(36, 146, 179);
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slideInRight {
  animation: slideInFromRight 0.5s forwards;
}

.slideInLeft {
  animation: slideInFromLeft 0.5s forwards;
}

.slideOutLeft {
  animation: slideOutToLeft 0.5s forwards;
}

.slideOutRight {
  animation: slideOutToRight 0.5s forwards;
}