.carouselContainer {
  position: relative;
  width: 100vw;
}

.scheduleContainer {
  /* Add styles for the schedule container */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: black;
  background: transparent;
  width: 80vw;

  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3rem;
}

.scheduleHeadersContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  /* width: 100%; */
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.scheduleHeader {
  position: relative;
  font-size: 2rem;
  width: 500px;
  text-align: center;
  color: white;
  display: block;
}
.arrow {
  position: relative;
  background: var(--primary-gradient);
  border: solid white 2px;
  border-radius: 50%;
  color: black;
  height: 40px;
  width: 40px;
  padding: .5rem;
  top: 50%;
}
.arrow:hover {
  transform: scale(1.1);
  /* color: rgb(36, 146, 179); */
  cursor: pointer;
}
.dateAndDotsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* border: solid white 4px; */
  padding-top: .5rem;

}



.customArrowLeft, .customArrowRight {
  position: absolute;
  background: transparent;
  top: 0;
  width: 60px;
  height: 60px;
  border: none;
  z-index: 2;
}
 .customArrowLeft {
  left: 10px;
}
.customArrowRight {
  right: 10px;
}

.carousel {
}
.navdotsContainer {

}
 .navDot {
  background: transparent;
  border: none;
  margin: 10px;
  border-radius: 50%;
  width: 8px; /* Custom dot size */
  height: 8px; /* Custom dot size */
  background:rgba(255, 255, 255, .7);
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */

}

.activeDot {
  background: white;
  transform: scale(1.5);
}

.studentDataWrapper {
  max-height: 0;
  /* transition: max-height 0.5s ease-out; */
  overflow: hidden;
}


.active {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0;
  height: 200px;
  max-height:1000px;
  transition: max-height 0.75s ease-in;
  z-index: 900;

}
.dateAndDotsContainer {
  padding: 1.5rem;
}

@media(max-width: 768px) {
  .scheduleSlide {
    width: 96%;
    margin:0 auto;
    padding: 0 !important
  }
  .slide {
    margin: 0;
  }
}