.scheduleContainer {
  /* Add styles for the schedule container */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.dayContainer {
  margin: 1.5rem;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.dayContainer h3 {
  display: inline-block;
  width: 120%;
  margin-left: -10%;
  color: black;
  padding: 10px;
  font-size: 2rem;
}

.columns {
  position: relative;
  display: flex;

}

.timeColumn,
.statusColumn {
  font-size: 1.25rem;
  padding: .5rem;
}

.timeColumn {
  background-color: white;
  color: black;
  width: 20%;

}
.statusColumn {
  width: 80%;
}

.open {
  /* Add styles for each "Open!" status */
  padding: 5px;
}

.mon {

}
.mon h3 {
  background-color: var(--blueBooked)

}

.tues {

}
.tues h3 {
  background-color: var(--greenBooked)

}
.wed {

}
.wed h3 {
  background-color: var(--redBooked)

}
.thurs {

}
.thurs h3 {
  background-color: var(--yellowBooked);


}
.fri {

}
.fri h3 {
  background-color: var(--purpleBooked);
  color: black;
}
.sun {

}
.sun h3 {
  background-color: var(--blueBooked);

}
