.downloadIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
}
.searchContainer {
  position: relative;
  width: 80%;
  /* border: solid white 4px;
  background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.searchInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 100%;
  /* border: solid red 4px; */
}
.searchInputContainer * {
  margin: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.searchInputContainer input {
  display: relative;
  width: 20vw;
}
.searchContainer button {
  margin: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  border: none;
  width: 7vw;

}
.searchResult {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
  /* border: solid rgb(79, 197, 243) 4px; */
  padding: 10px;
  margin: .5rem;
  /* background-color: black; */
  color: white;
  width: 50vw;
  font-size: 1.25rem;
}
.searchResult button {
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  border: solid red 4px;
  border: none;
  font-size: 1.25rem;
}

.searchResult span:nth-child(1) {
  text-align: left;
}
.openButtonSpan:hover {
  cursor: pointer;
  transform: scale(1.1);

}
.searchResult span:nth-child(2),
.searchResult span:nth-child(3) {
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin-left: 2rem; */
  margin-right: 2rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  color: black;
  padding: .5rem 1rem .5rem 1rem;
}
.searchResult span:nth-child(2):hover {
  cursor: pointer;
  transform: scale(1.1);
}


.downloadIcon, .playIcon {
  margin-right: 1rem;
  color: black;
  height: 20px;
}
.loading {
  font-size: 2rem;
  margin-top: 3rem;
}

.loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
}
.setlistWrapper {
  margin-top: 6rem;
}
