.headerContainer {
  top: 0;
  position: relative;
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  /* padding: .5rem; */
  /* height: 1000px; */
  background: rgba(0, 0, 0, 0.4);
  background: rgb(46, 46, 46);
  /* background: black; */
  background: white;
  backdrop-filter: blur(5px);
  /* border-bottom: solid 1px rgb(103, 103, 103); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  background: var(--primary-blue);
  color: white;

}
.leftSideNav, .rightSideNav {
  display: flex;
  flex-direction: row;
}
.rightSideNav {

}
.teacherTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-family: UnicaOne;
  font-size: 4rem;
  font-weight: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin-left: 1rem;
}
.titleLogo {
  position: relative;
  margin: .5rem 0 0 2rem;
  height: 70px;

}
.logo, .iconLogo {
  position: relative;
  left: 0;
  top: 0;
  height: 65px;
  /* border: solid white 2px; */
}
.iconLogo {
  border-radius: 50%;
}

.homeButton {
  margin: 0;
  padding: 0;
}
.loginButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
}
.profileImgContainer {
  position: relative;
  top: unset;
  left: unset;
  margin-right: 1rem;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  border: solid white 2px;
  /* border: solid rgb(255, 255, 255) 1px; */
  overflow: hidden;
  transition: transform 0.4s;
}
.profileImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileImgContainer:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.navLinkContainer {
  position: relative; /* Ensures the dropdown is positioned relative to this container */
  height: fit-content;
  /* border: solid 1px black; */
}

.navLink {
  margin: 0.5rem 0.75rem;
  transition: transform 0.5s;
  font-size: 1.25rem;
  height: fit-content;
  color: black;
  font-weight: 800;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  text-align: center;
  position: relative;
  /* border-radius: 4px; */
  /* border: solid 1px black; */
  color: white;
}
.navLink:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(144, 250, 123);
  text-decoration-color: #95d478;
  text-underline-offset: 4px;
}
.currentPageLink {
  text-decoration: underline;
  text-decoration-color: #95d478;
  text-underline-offset: 4px;
}


.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Place dropdown below the navLink */
  left: 0;
  background: white;
  /* border: 1px solid #ddd; */
  /* padding: 0.5rem 0; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 100;
  width: max-content;
}

.dropdown a {
  display: block;
  padding: 1rem 1.5rem .75rem 1.5rem;
  color: black;
  text-decoration: none;
  width: fit-content;
  width: auto;
  /* padding-bottom: .25rem; */
}

.dropdown a:hover {
  background: var(--primary-gradient);
  /* color: white; */
}

.navLinkContainer:hover .dropdown {
  display: block; /* Show dropdown when the whole container is hovered */
}
.navLinkContainer:hover .icon {
  transform: rotate(180deg)
}



.bookingLink {
  /* border-radius: 4px; */
  box-shadow: 0 0  4px 0 rgba(0, 0, 0, 0.4);
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
  color: black;
  padding: .5rem 1rem;
  margin: .5rem 1.5rem .5rem 1rem;
  font-weight: bold;
  background: var(--primary-blue);
  color: white;
  transition: transform 0.5s;
  height: fit-content;
  text-align: center;
  color: black;
  background: var(--primary-gradient);
  background: #95d478;
  background: #8bc66f;
  background: #a5e687;
  background: #aeff88;
  color: white;
  padding-top: .75rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  height: auto;
}
.bookingLink a {
  color: black;
  /* color: white; */
  /* color: var(--primary-blue); */
  height: fit-content;
}
.bookingLink:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.icon {
  margin: 0 0 .125rem .5rem;
  font-size: 1rem;
  /* color: var(--primary-blue); */
  transition: transform 0.5s;
}

@media(max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: solid red 4px;
    display: none;
  }
  .bookingLink {
    position: fixed;
    top: unset;
    right: unset;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}