
.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: 1rem;
  border:rgb(126, 255, 126) solid 4px;
}
