.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50vh;
  color: rgb(0, 0, 0);
  background: rgb(96, 255, 141);
  background: linear-gradient(to left, rgba(96, 255, 141, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background: linear-gradient(to left, rgb(156, 255, 157) 0%, rgb(0, 191, 92) 100%);
  background: var(--primary-gradient);
  background: rgb(0, 106, 152);
  /* background: linear-gradient(to right, rgb(72, 208, 250), rgb(0, 115, 181)); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .25rem;
}
.messageText {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  /* text-decoration: underline; */
}

.contactWrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.contactItem {
  margin: 0 1rem;
}