.imageContainer {
    position: relative;
    /* width: 300px; */
    /* height: 325px; */
    height: 500px;
    width: 400px;
    margin: 2rem;
}
.horizontanlPhoto {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;

}

.carousel {
  /* border: solid red 4px; */
  width: 70%;
  margin: 3.5rem;
  /* display: flex;
  flex-direction: row; */
}
.verticalCarousel {
  width: 30%;
}
/* .vertPhoto {
  height: 400px;
  width: 200px;
} */
/*  */

.control-arrow {
  opacity: 1; /* Make it always visible */
  background-color: #000; /* Black background */
  color: #fff; /* White arrow */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}