.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  /* border: solid red 4px; */
}
.image {
  /* height: calc(100vh - 125px) */
  display: block;
  width: 100%;
}

.contentWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 400px;
  max-width: 45%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red 4px; */

}

.header {
  font-size: 4rem;
  background-image: var(--primary-gradient); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 2rem 0;
  text-align: center;

}

.text {
  color: white;
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;

}

.icon {
  /* border: solid red 2px; */

  color: var(--primary-green);
  color: white;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  width: 50px;
  height: 50px;
  transition: transform .2s ease;
}
.icon:hover {
  transform: scale(1.1);
  color: var(--primary-blue);
}