@font-face {
  font-family: 'Economica';
  /* font-style: normal;
  font-weight: 200; */
  src: url('../public/fonts/Economica-Regular.ttf');
}
@font-face {
  font-family: 'Economica Bold';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Economica-Bold.ttf');
}
@font-face {
  font-family: 'Bank Gothic';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/BankGothic Regular.ttf');
}
@font-face {
  src: url('../public/fonts/JosefinSans.ttf') format('truetype');
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('../public/fonts/SFNSText-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'UnicaOne';
  src: url('../public/fonts/UnicaOne-Regular.ttf') format('truetype');
}

:root {
  --blueBooked: rgba(20, 112, 149, 1);
  --blueOpen: rgba(159, 197, 232, 1);
  --greenBooked: rgba(47, 192, 45, 1);
  --greenOpen: rgba(177, 252, 176, 1);
  --redBooked: rgba(255, 45, 43, 1);
  --redOpen: rgba(234, 153, 153, 1);
  --yellowBooked: rgba(255, 182, 43, 1);
  --yellowOpen: rgba(255, 242, 204, 1);
  --purpleBooked: rgba(166, 77, 121, 1);
  --purpleOpen: rgba(213, 166, 189, 1);

  --white: rgb(255, 255, 255);

  --lightBackground1: rgb(241, 241, 241);
  --lightBackground2: rgb(220, 220, 220);

  --greenBackground1: rgb(187, 255, 187);

  --darkBackground1: rgb(46, 46, 46);
  --darkBackground2: rgb(61, 61, 61);
  --darkBackground3: rgb(28, 28, 28);
  --darkBackground4: rgb(76, 76, 76);

  --primary-green: rgb(126, 255, 126);
  --primary-blue: rgb(0, 106, 152);


  /* green to blue, more obvious, darker blue, from stringsmith */
  --primary-gradient: -webkit-linear-gradient(left, rgb(132, 255, 171), rgb(0, 229, 255));

  /* green to blue, more subtle, lighter blue */
  --secondary-gradient: -webkit-linear-gradient(left, rgb(181, 255, 156) 0%, rgb(101, 251, 255) 100%);

  /* light green to dark green */
  --green-gradient: -webkit-linear-gradient(left, rgb(156, 255, 157) 0%, rgb(0, 207, 100) 100%);


  /* lime green to blue green */
  --primary-gradient: -webkit-linear-gradient(left, rgb(181, 255, 156) 0%, rgb(101, 251, 198) 100%);

  --logo-gradient: -webkit-linear-gradient(left, #87ceb2 0%, #bbd393 100%);
  --primary-gradient: -webkit-linear-gradient(left, rgb(191, 255, 169) 0%, rgb(149, 253, 201) 100%);

  /* best gradient for underlines against white */
  --primary-gradient-darker: -webkit-linear-gradient(left, rgb(171, 232, 135) 0%, rgb(133, 232, 182) 100%);


}
/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'JosefinSans';
  font-weight: 300;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */


a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.3;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app {
  position: relative;
  background: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.appContentContainer {
 flex: 1;
 margin-top: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sectionTitle, .smallerSectionTitle, .sectionTitleWhite, .smallerSectionTitleWhite {
  font-size: 4rem;
  margin: 1rem;
  color: var(--primary-blue);
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.sectionTitle::after, .smallerSectionTitle::after, .sectionTitleWhite::after, .smallerSectionTitleWhite::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px; /* Adjust the distance from the text */
  width: 100%;
  height: 4px; /* Thickness of the underline */
  background: var(--primary-gradient-darker) !important;
}
.sectionTitle::after, .sectionTitleWhite::after {
  bottom: -8px; /* Adjust the distance from the text */
  height: 8px;
}
.sectionTitleWhite::after, .smallerSectionTitleWhite::after {
  background: var(--primary-gradient);
}
.smallerSectionTitle, .smallerSectionTitleWhite {
  font-size: 2rem;
}
.smallerSectionTitle::after, .smallerSectionTitleWhite::after {
  /* bottom: 2px; */
}
.sectionTitleWhite, .smallerSectionTitleWhite {
  color: white;
}
.smallerSectionTitleWhite {

}
.sectionTitleMobile {
  display: none;
}

.button {
  position: relative;
  margin: 2rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
  border-radius: 4px;
}


.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* .ageContentWrapper {
  border: solid red 1px;

} */
.infoCard, .pageContentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.85);
  background-color: var(--primary-blue);
  backdrop-filter: blur(5px);
  margin: 2rem;
  padding: 2rem;
  /* border:rgb(72, 72, 72) solid 1px; */
  /* border-radius: 10px; */
  min-height: 500px;
  min-width: 1000px;
  font-family: JennaSue;
  text-align: center;
  overflow-y: hidden;
  margin: 0 auto;
}
.pageContentWrapper {
  border-radius: 0px;
}
.studentPageWrapper, .teacherPageWrapper, .teacherPageWrapperWhite, .teacherPageWrapperBlue {
  position: relative;
  background: white;
  min-height: 90vh;
  padding: 1rem;
  margin: 0 !important;
  padding: 0;
}
.teacherPageWrapper {
  background: black;
}
.teacherPageWrapperWhite {
  background: white;
  padding-top: 2rem;
}

.teacherPageWrapperBlue {
  background: var(--primary-blue);
}
.sectionHeaders {
  text-decoration: underline;
}
.paragraph {
  font-size: 1.25rem;
  margin: 1rem;
}
.text, .whiteText {
  text-align: center;
  font-size: 1.25rem;
  margin: .5rem;
  line-height: 1.2;
}
.text {
  color: black;
}
.whiteText {
  color: white;
}
.linkedText {
  font-size: 1.25rem;
  /* margin: .5rem; */
  line-height: 1;
  color: rgb(255, 255, 255);
}
.linkedText:hover {
  cursor: pointer;
  color: rgb(126, 255, 126);
}
.featureHeaders, .pageHeaders {
  color: transparent;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.pageHeaders {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.subheaders {
  color: rgb(126, 255, 126);
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;;

}
.featureComments {
  font-style:italic;
  font-family: SanFrancisco;
  color: #dcdcdc;
  margin-bottom: 3rem;
  /* border: solid white 2px; */
}
.featureButton {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin: 1rem;
  background: var(--primary-gradient) !important;
  color: black;
  padding: .5rem 1rem .5rem 1rem;
  border: none;
  border-radius: 4px;
}
.featureButton:hover {
  cursor: pointer;

}
.currentPageLink {
  text-decoration: underline;
}
.alert {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(252, 95, 95);
  color: black;
  padding: .5rem 1rem .5rem 1rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
}
.alert:hover {
  cursor: pointer;
}
.section {
  position: relative;
  background: rgba(255, 255, 255, .2);
  border: solid 1px rgb(93, 93, 93);
  font-size: 1.35rem;
  color: white;
  padding: 1rem;
  line-height: 1.1;
  margin: 1rem 0rem 1rem 0rem;
}

@media(max-width: 768px) {
  .app {
    top: 0;
    left: 0;
    width: 100vw;
    position: absolute;
    overflow-y: auto;
    margin: 0;
  }
  .pageContentWrapper {
    margin-top: 0;
    width: 95vw;
    min-width: 95vw;
    padding: .25rem;
  }
  .sectionTitle {
    font-size: 2rem;
  }
  .sectionTitle::after , .sectionTitleWhite::after{
    height: 4px;
  }
  .smallerSectionTitle {
    font-size: 1.75rem;
  }
  .sectionTitleWhite {
    font-size: 2rem;
  }
  .sectionTitleMobile {
    display: block;
  }
  .sectionTitleDesktop {
    display: none;
  }
  .text, .whiteText {
    font-size: 1.5rem;
  }

}