@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Economica-Regular.ttf');
}
@font-face {
  font-family: 'Economica Bold';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Economica-Bold.ttf');
}
@font-face {
  font-family: 'Bank Gothic';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/BankGothic Regular.ttf');
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/JosefinSans.ttf');
}

:root {
  --blueBooked: rgba(20, 112, 149, 1);
  --blueOpen: rgba(159, 197, 232, 1);
  --greenBooked: rgba(47, 192, 45, 1);
  --greenOpen: rgba(177, 252, 176, 1);
  --redBooked: rgba(255, 45, 43, 1);
  --redOpen: rgba(234, 153, 153, 1);
  --yellowBooked: rgba(255, 182, 43, 1);
  --yellowOpen: rgba(255, 242, 204, 1);
  --purpleBooked: rgba(166, 77, 121, 1);
  --purpleOpen: rgba(213, 166, 189, 1);
}
@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'JosefinSans'
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#app {
  position: relative;
  background-image: url('/images/background.jpeg');
  /* border: solid red 4px; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#appContentContainer {
 flex: 1;
 margin-top: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.infoCard {
  position: relative;
  /* border: solid red 4px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  margin: 2rem;
  padding: 2rem;
  border:rgb(126, 255, 126) solid 6px;
  min-height: 500px;
  min-width: 1000px;
  font-family: JennaSue;
}
.sectionHeaders {
  text-decoration: underline;
}
.featureHeaders {
  color: rgb(95, 180, 225);
  /* font-family: Economica; */
  margin-top: 2rem;
  font-size: 1.5rem;
  /* text-decoration: underline; */
  margin-bottom: 1rem;
}
.featureComments {
  font-style:italic;
  color: #cccccc;

}