@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Economica-Regular.ttf');
}

:root {

}
@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Economica'
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#app {
  position: relative;
  background-image: url('/images/background.jpeg');
  /* border: solid red 4px; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#appContentContainer {
 border: solid rgb(126, 255, 126) 4px;
 flex: 1;
 margin-top: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  padding: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  animation : transform 2s;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.infoCard {
  position: relative;
  /* border: solid red 4px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  margin: 2rem;
  padding: 2rem;
  border:rgb(126, 255, 126) solid 6px;
  min-height: 500px;
}
