.navbarContainer {
  box-sizing: border-box;
  position: absolute;
  top: 8vw;
  left: 0;
  width: 250px;
  height: calc(100vh - 10vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 4px rgb(153, 255, 139);
  background: rgba(0, 0, 0, 0.1);
  margin: 1vw;
  padding-top: 1rem;
  backdrop-filter: blur(5px);

}
.navLink {
  color: white;
  margin: 1rem;
  font-size: 1.5rem;

}
.navLink:hover {
  color: rgb(84, 255, 178);
  cursor: pointer;
  transform: scale(1.1);
}
.profileImgContainer {
  position: absolute;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  border: solid rgb(84, 255, 178) 2px;
  overflow: hidden;
  bottom: 2rem;
}

