.audioPlayer {
  border-radius: 10px;
  margin: 0 auto;
  width: 600px;
  padding: .5rem;
  color: black;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  overflow: display;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.row2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: solid green 2px; */
  width: 100%;
}

.playPauseIcon {
  height: 40px;
  width: 40px;
  /* Style for play/pause button */
}

.progressBar {
  color: black;
  background-color: black;

}

.progressBarContainer {
  width: 50%;
}
.time {
  margin: .5rem;
}
.volumeIcon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  /* Style your volume icon */
}
.volumeControl {
  position: relative;
  display: inline-block; /* Adjust as necessary */
}
.volumeControl:hover .volumeSlider {
  opacity: 1; /* This should show the slider when .volumeControl is hovered */
}
.volumeSlider {
width: 100px; /* Adjust the width as needed */
height: 4px; /* Adjust the height as needed */
position: absolute;
left: 100%; /* Adjust position based on your layout */
bottom: 100%; /* Place it above the icon */
transform-origin: bottom;
transform: rotate(-90deg);
opacity: 0;
transition: opacity 0.2s ease;
color:rgb(146, 255, 146);
background-color: rgb(146, 255, 146);
/* Style your slider */
}
.volumeSlider::-webkit-slider-runnable-track {
  background: white;
}
/* Style for the thumb (the draggable circle) for WebKit browsers */
.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Required to make custom styles apply */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #92FF92; /* Your desired thumb color */
  color:rgb(146, 255, 146);
  cursor: pointer;
  border-radius: 50%; /* Makes it circular */
}
.speedControlContainer {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .7);
  padding: .5rem;
}
.speedControl {
  /* Style for speed control dropdown */
}
.speedLabel {
  font-size: 1.75;
  margin: .5rem;
  color: white;
}
.downloadIcon {
  height: 30px;
  width: 30px;
}

