.searchResult {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
  /* border: solid rgb(79, 197, 243) 4px; */
  padding: 10px;
  margin: .5rem;
  /* background-color: black; */
  color: white;
  width: 50vw;
  font-size: 1.25rem;
}
.searchResult button {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
}
.searchResult span:nth-child(1) {
  text-align: left;
}

.searchResult span:nth-child(2),
.searchResult span:nth-child(3) {
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin-left: 2rem; */
  margin-right: 2rem;
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  color: black;
  padding: .5rem 1rem .5rem 1rem;;

}
