.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 4rem; */
}
.section1Container, .section2Container, .section3Container, .section4Container, .section5Container {
  background: var(--lightBackground1);
  position: relative;
  width: 100%;
  padding: 2rem 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* border: solid red 4px; */
  height: auto;
}
.section2Container {
  background: white;
}
.section3Container {
  background: var(--darkBackground1);
  background: var(--primary-blue);
  text-align: center;
}
.section4Container {
  background: white;
}
.section5Container {
  background: var(--lightBackground1);
}



.sectionTitle, .title, .whiteSectionTitle {
  font-size: 2rem;
  margin: 1rem;
  color: var(--primary-blue);
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.sectionTitle::after, .title::after, .whiteSectionTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px; /* Adjust the distance from the text */
  width: 100%;
  height: 6px; /* Thickness of the underline */
  background: var(--primary-gradient-darker);
  /* border: solid 1px rgb(0, 201, 0); */
}
.whiteSectionTitle::after {
  background: var(--primary-gradient);
}
.title::after {
  background: unset;
  box-shadow: unset;
}

.sectionTitle, .whiteSectionTitle {
  font-size: 4rem;
}
.whiteSectionTitle {
  color: white;
  background: none;
  /* border: solid white 1px; */
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.icon {
  color: var(--primary-blue);
  /* color: rgb(148, 212, 157); */
  margin-bottom: 2rem;
}


.lessonInfoWrapper, .lessonInfoWrapperMidMargin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 6rem 0 6rem 0;
  width: 1000px;
  max-width: 90%;
  /* border: solid red 1px; */
  text-align: center;
}
.lessonInfoWrapperMidMargin {
  margin: 2rem 0 2rem 0;
}
.lessonInfoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  padding: 1rem 0;
  /* height: 450px; */
  /* margin: 2rem; */
  margin-bottom: 2rem;
  /* border: solid red 1px; */
}
.middleInfoSection {
  position: relative;
  width: 33%;
  /* margin: 0 2rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
  border-left: solid  rgb(228, 228, 228) 2px;
  border-right: solid rgb(228, 228, 228) 2px;
}


.feeDivider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* border: solid white 1px; */
  margin-top: 2rem;
  width: 100%;
}
.fees {
  /* width: 200px; */
  margin-top: 2rem;
  font-size: 1.25rem;

}

.scheduleTable {
  width: 100%;
  margin: 2rem;
  /* border: solid red 1px; */
}
.days, .times {
  font-size: 1.25rem;

}
.price {
  margin-bottom: 1rem;
  text-decoration: underline;
}


.policiesWrapper {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: disc; /* Ensures bullets are shown */

}
.policiesHeaderWrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  position: relative;
  /* width: 300px; */
  /* height: 325px; */
  height: 500px;
  width: 400px;
  margin: 2rem;
}


.carousel {
/* border: solid red 4px; */
width: 1000px;
max-width: 90%;
margin-bottom: 3.5rem;

/* display: flex;
flex-direction: row; */
}
.verticalCarousel {
  width: 30%;

}
/* .vertPhoto {
height: 400px;
width: 200px;
} */
/*  */

.control-arrow {
opacity: 1; /* Make it always visible */
background-color: #000; /* Black background */
color: #fff; /* White arrow */
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}
.slide, .videoSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure slides take full height */
  overflow: hidden; /* Prevent content overflow */
}

.slide img {
  max-height: 600px; /* Make sure the image fits the slide's height */
  max-width: 100%; /* Prevent landscape images from overflowing horizontally */
  object-fit: contain; /* Maintain aspect ratio without stretching */
}

.slideButtonLeft, .slideButtonRight, .slideButtonLeftDisabled, .slideButtonRightDisabled {
  position: absolute;
  height: 50px;
  width: 50px;
  /* color: white; */
  border-radius: 50%;
  padding: .5rem;
  background: var(--primary-gradient);
  border: solid white 2px;
  cursor: pointer;
  transition: transform .2s ease;
  margin: 0 .25rem;
  top: calc(50% - 25px);
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, .9);
  font-size: 1.5rem;
}
.slideButtonLeft, .slideButtonLeftDisabled {
  left: 30px;
}
.slideButtonRight, .slideButtonRightDisabled {
  right: 30px;
}
.slideButtonLeftDisabled, .slideButtonRightDisabled {
  background: rgba(0, 0, 0, .5);
  color: rgb(169, 169, 169);
}
.slideButton:hover {
  transform: scale(1.1);
}
.caption {
  position: relative;
  bottom: 0;
  background: white;
  background: var(--primary-blue);
  color: white;
  /* border: solid red 20px; */
  z-index: 2000;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding: calc(.25rem + 2px) .5rem .25rem .5rem;
  /* height: 1000px; */
}
.textContainer {
  width: 1000px;
  max-width: 96%;
  margin-bottom: 2rem;
}

@media(max-width: 768px) {
  .lessonInfoWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
  }
  .lessonInfoSection {
    width: 100%;
    margin: 0;
  }
  .middleInfoSection {
    width: 100%;
    margin: 0;
    border: none;
  }
  .carousel {
    width: 100%;
    margin: 0;
  }
  .verticalCarousel {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    height: 300px;
  }
  .control-arrow {
    display: none;
  }
  .caption {
    /* display: none; */
  }
  .slideButtonLeft, .slideButtonRight {
    /* display: none; */
  }
  .slideButtonLeftDisabled, .slideButtonRightDisabled {
    /* display: none; */
  }
  .slideButton:hover {
    /* display: none; */
  }
  .slide {
    width: 100%;
  }
  .slideButtonLeft, .slideButtonRight {
    /* display: none; */
  }
  .slideButtonLeftDisabled, .slideButtonRightDisabled {
    /* display: none; */
  }
  .slideButton:hover {
    /* display: none; */
  }
  .caption {
    /* display: none; */
  }
  .slideButtonLeft, .slideButtonRight, .slideButtonLeftDisabled, .slideButtonRightDisabled {
    /* display: none; */
  }
  .slideButton:hover {
    /* display: none; */
  }
  .control-arrow {
    /* display: none; */
  }
  .carousel {
    width: 100%;
    margin: 0;
  }
  .verticalCarousel {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    height: 300px;
  }
  .control-arrow {
    /* display: none; */
  }
  .caption {
    /* display: none; */
  }
  .slideButtonLeft, .slideButtonRight {
    /* display: none; */
  }
  .slideButtonLeftDisabled, .slideButtonRightDisabled {
    /* display: none; */
  }
  .slideButton:hover {
    /* display: none; */
  }
  .slide {
    width: 100%;
    padding: 0 .5px;
  }
  .slideButtonLeft, .slideButtonRight, .slideButtonLeftDisabled, .slideButtonRightDisabled {
    /* display: none; */
    font-size: 1rem;
    height: 30px;
    width: 30px;
    padding: 0;
    z-index: 20;
    top: unset;
    bottom: .4rem;
  }
  .slideButtonLeft, .slideButtonLeftDisabled {
    left: 10px;
  }
  .slideButtonRight, .slideButtonRightDisabled {
    right: 10px;
  }

}