.songHeader {
  /* border: solid red 4px; */
  width: 100%;
  /* margin-bottom: 2rem; */
}

.artistImage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  border-radius: 4px;
  border: solid rgb(213, 213, 213) 1px;
}

.songTitle {
  font-size: 2rem;
  color: rgb(126, 255, 126);
  margin-bottom: 1rem;
}
.songArtist {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.songDataContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.songInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin: 1rem;
}
.songInfoContainer * {
  margin: 0.5rem;

}
.explicitTag {
  font-size: 1.25rem;
  background-color: rgb(255, 109, 109);
  padding: .5rem;
  color: black;
}
.header {
  color: rgb(126, 255, 126);
  font-size: 1.75rem;
}
.guitarProContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}
.buttonSpan {
  position: relative;
  /* display: inline-block; */
  background: linear-gradient(to bottom right, rgb(115, 239, 255), rgb(146, 255, 146));
  color: black;
  border: none;
  font-size: 1.25rem;
  padding: .5rem 1rem .5rem 1rem;
  margin: 1rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
}
.buttonSpan:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.buttonLink {
  padding: .25rem;
  /* width: 100%; */
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.buttonIcon {
  margin: 0rem 1rem 0rem 0rem;
  height: 20px;
  width: 20px;
  /* border: solid red 4px; */
}
.closeIcon {
  top: 0;
  right: 0;
  margin: 1rem;
  height: 20px;
  width: 20px;
  z-index:0;
  color: black;
}
.settingsIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  height: 30px;
  width: 30px;
  z-index:0;
}
.settingsIcon:hover, .closeIcon:hover, .menuButton:hover {
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  background: rgb(235, 235, 235);
  z-index: 2
}
.menuButton {
  background: none;
  border: none;
  font-size: 1.25rem;
  margin: .5rem;
}