.wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}
.image, .video {
  /* height: calc(100vh - 125px) */
  display: block;
  width: 100%;
  /* filter: brightness(60%); */

}
.videoWrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Match the height you're using for the video */
  overflow: hidden; /* Prevent overlay overflow */
  z-index: -1;
  /* border: solid red 4px; */
}
.video {
  display: block;
  width: 100%;
  height: 100%; /* Ensure the video fills its container */
  object-fit: cover;
  position: relative; /* Remains relative, part of normal flow */
  z-index: 0;
}

.contentWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  z-index: 2;
}
.loginButton {
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: .75rem 1rem .5rem 1rem;
  background: var(--primary-blue);
  color: white;
  font-weight: 400
}

.header {
  font-size: 4rem;
  position: relative;
  /* background-image: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  padding-bottom: 1rem;
  width: 75%;
  margin: 0 0 2rem 0;
  text-align: center;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
  text-shadow: 2px 2px 4px #000000;
  font-weight: 400;
}
/* .header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 8px;
  background: var(--primary-gradient);
  box-shadow: 0 1px 2px rgba(59, 153, 0, 0.8);
} */

.text {
  color: white;
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
}

.icon {
  position: absolute;
  left: 50%;
  bottom: -5rem;
  color: black;
  cursor: pointer;
  margin-top: 6rem;
  width: 40px;
  height: 40px !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateX(-50%) scale(1); /* Include scale(1) to normalize the base */
  border-radius: 50%;
  padding: 0.5rem;
  background: var(--primary-gradient);
  border: solid white 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  transform-origin: center;
}

.icon:hover {
  transform: translateX(-50%) scale(1.1); /* Apply both transformations */
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  background: var(--secondary-gradient);
}