.practiceSessionsTable {
  width: 60vw; /* Adjust as needed */
  min-width: 800px;
  table-layout: fixed; /* Ensures equal column widths */
  border-collapse: collapse;
  margin: 3rem 0rem 3rem 0rem;

}

.practiceSessionRow,
.practiceSessionHeadersRow {
}

.practiceSessionData,
.practiceSessionHeader {
  text-align: center;
  width: 25%;
}

.practiceSessionHeader {
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
  margin: 2rem 0rem 2rem 0rem;
}
.practiceSessionData {
  margin: 2rem .25rem 0rem .25rem;
  font-size: 1.25rem;
  padding: .25rem;
  border: 0;
}

.practiceSessionRow {

}