.lessonLogWrapper {
  width: 100%;
  position: relative;
  margin: .5rem 0rem .5rem 0rem;
  padding: .5rem 1rem .5rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgb(71, 71, 71)
}
.lessonLogWrapper * {
  display: inline-block;
}
.lessonLogWrapper div {
  font-size: 1.25rem;

}
.logRowContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.lessonLogsHeader {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}
.lessonLogsHeader h3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  color: rgb(128, 255, 128);
  text-decoration: underline;
}
.lessonLogHeader {
  display: block;
  font-size: 1.25rem;
  color: rgb(128, 255, 128);
  margin-bottom: .5rem;
}
.lessonLogsHeader {

}
.whatWeDidColumn {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.whatToPracticeColumn {
  width: 33%;
}
.notesColumn {
  width: 33%;
}
.date {
  position: absolute;
  font-size: 1rem;
  top: 0;
  left: 0;
  margin: .25rem;
  padding: .25rem;
  background-color:rgb(43, 163, 206);
  color: white;
}