.practiceSessionWrapper {
  width:100%;
  /* border: solid white 4px; */
  margin: .5rem 0rem .5rem 0rem;
  padding: .5rem 1rem .5rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgb(71, 71, 71);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.practiceSessionWrapper * {
    width: 33%;

    padding: .25rem 0rem .25rem 0rem;
}
.practiceSessionWrapper:hover {
    cursor: pointer;
}
