.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  /* height: 50vh; */
  color: rgb(0, 0, 0);
  background: var(--primary-gradient);
  background: rgb(0, 106, 152);
  /* background: linear-gradient(to right, rgb(72, 208, 250), rgb(0, 115, 181)); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: .25rem;


  background: white;
}
.messageText {
  color: white;
  color: var(--primary-blue);
  color: black;
  font-size: 1.25rem;

  cursor: pointer;
  /* text-decoration: underline; */
}
.loginButton {
  position: absolute;
  right: 0;
  background: white;
  color: black;

  margin: 0 1rem;
  /* background: linear-gradient(to right, rgb(255, 232, 115), rgb(248, 88, 98)); */
  padding: .25rem .5rem 0 .5rem;
  /* color: white; */
}
.contactWrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.contactItem {
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}