.wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  padding: 1rem 2rem;
  position: relative;
  border-radius: .75rem;
  background: white;
}
.header {
  display: flex;
  flex-direction: row;
}
.headerInfo {

}
.reviewerPhoto, .reviewerIconWrapper {
  height: 4rem;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
}
.reviewerIconWrapper {
  position: relative;
  overflow: hidden;
  background: rgb(221, 221, 221);
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.reviewerPhotoIcon {
  height: 100%;
  width: 100%;
}
.yelpIcon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: red;
  margin: 1rem 1rem 1rem 0;
  height: 2rem;
}
.name {
  /* font-weight: bold; */
  font-weight: 400;
  color: var(--primary-blue);
  font-size: 1.5rem;
  margin: 1rem 0;
  position: relative;
  width: fit-content;
}
.name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; /* Adjust the distance from the text */
  width: 100%;
  height: 3px; /* Thickness of the underline */
  background: linear-gradient(to right, rgb(92, 234, 149), rgb(180, 230, 0))
}
.stars {
  margin-bottom: 1rem;
}
.starIcon {
  color: rgb(247, 210, 0);
  /* color: var(--primary-blue); */
  /* color: rgb(132, 132, 132); */
  font-size: 1.25rem;
}
.text {
  font-size: 1.25rem;
  text-align: center;
  color: black;
}
@media(max-width: 768px) {
  .wrapper {
    padding: 1rem;
  }
  .text {
    /* text-align: center; */
    margin-top: 1rem;
  }
}