.spotsList {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem 1rem;
  text-align: right;
}
.spotsList * {
  padding: .25rem 0;
}

.announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 2rem;
  font-size: 1.25rem;
  text-align: center;
  border: solid rgb(144, 255, 144) 4px;
  padding: 1rem 2rem 1rem 2rem;
  background: linear-gradient(
    90deg,
    rgba(58, 58, 58, 0.5) 0%,
    rgba(28, 28, 28, 0.5) 100%
  );
}
.makeups {
  position: absolute;
  top: 0;
  left: 0;
  margin: .5rem;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
.makeupsNumber {
  font-size: 1.25rem;
  padding: .5rem;
  /* background-color: rgb(63, 155, 254); */
  background: linear-gradient(to right, rgb(254, 63, 63), rgb(255, 146, 95), 90%, rgb(255, 191, 41));
  background: rgba(0, 0, 0, .4);
  border-radius: 4px;
  color: white;
  margin: .5rem;
  /* margin-top: 1.5rem; */
}
.viewAllAnnouncements, .dismissAnnouncements {
position: absolute;
background: var(--primary-gradient);
top: 0;
border: none;
border-radius: 4px;
padding: .5rem;
font-size: 1.25rem;
margin:.5rem;
}
.viewAllAnnouncements:hover, .dismissAnnouncements:hover {
  cursor: pointer;
}
.viewAllAnnouncements {
  right: 0;
  margin: 1rem;
  color: black;
}
.dismissAnnouncements {
  /* background: linear-gradient(to right, rgb(254, 63, 63), rgb(255, 146, 95), 90%, rgb(255, 191, 41)); */
  display: relative;
  background: transparent;
  height: 20;
  width: 30;
  right: 0;
  color: white;

}

.paymentsWrapper {
  width:100%
}

.lessonLogsWrapper {
  width: 100%;
  margin: 1rem;
}
.lessonLogsHeader {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}
.lessonLogsHeader h3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.75rem;
}
.practiceSessionsHeader {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}
.practiceSessionsHeader h3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.75rem;
  /* color: rgb(128, 255, 128); */
}
.songsAndSkillsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}
.songsWrapper {
  width: 100%;
  height: 100%;
  margin: 0rem 1rem 0rem 1rem;
}
.skillsWrapper {
  margin: 0rem 1rem 0rem 1rem;
  width: 100%;
}
.allSongsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.setlistSongsWrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}
.songsHeader {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}
.allSongsWrapper div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  /* border: solid 1px rgb(71, 71, 71); */
  padding: .5rem;
}
.songListItem {
  font-size: 1.25rem;
  margin: .5rem 0rem .5rem 0rem;
}
.skillListWrapper {
  margin: .5rem;
  padding: .5rem;
  /* border: solid 1px rgb(71, 71, 71); */
  background-color: rgba(0, 0, 0, 0.3)
}
.skillListItem, .skillListHeader {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  margin: .5rem 0rem .5rem 0rem;
}
.skillListHeader {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  /* color: rgb(128, 255, 128) */
}
.skillName {
  width: 70%;
  text-align: left;
}
.playingLevel, .knowledgeLevel, .earLevel {
  width: 10%;
  text-align: center;
}
.contactsWrapper {
  width: 100%;
  padding: 2rem 0;
}