.paymentsWrapper {
  width:100%
}

.lessonLogsWrapper {
  width: 100%;
  margin: 1rem;
}
.lessonLogsHeader {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}
.lessonLogsHeader h3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.75rem;
}
.practiceSessionsHeader {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}
.practiceSessionsHeader h3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.75rem;
  /* color: rgb(128, 255, 128); */
}
.songsAndSkillsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.songsWrapper {
  width: 100%;
  height: 100%;
  margin: 0rem 1rem 0rem 1rem;
}
.skillsWrapper {
  margin: 0rem 1rem 0rem 1rem;
  width: 100%;
}
.allSongsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.setlistSongsWrapper {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
}
.songsHeader {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}
.allSongsWrapper div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgb(71, 71, 71);
  padding: .5rem;
}
.songListItem {
  font-size: 1.25rem;
  margin: .5rem 0rem .5rem 0rem;
}
.skillListWrapper {
  margin: .5rem;
  padding: .5rem;
  border: solid 1px rgb(71, 71, 71);
  background-color: rgba(255, 255, 255, 0.1)
}
.skillListItem, .skillListHeader {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  margin: .5rem 0rem .5rem 0rem;
}
.skillListHeader {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: rgb(128, 255, 128)
}
.skillName {
  width: 70%;
  text-align: left;
}
.playingLevel, .knowledgeLevel, .earLevel {
  width: 10%;
  text-align: center;
}
.contactsWrapper {
  width: 100%;
}