.scheduleTable {
  width: 100%;
  font-size: 1.5rem;
  border-collapse: collapse;
  /* border: solid red 4px; */
}
.tableHead {
  height: 100px;
  font-size: 2rem;
}
.lessonRow {
  border-spacing: 5rem;
  padding: .5rem;
  /* border: solid red 2px; */
  height: 50px;
}
.dateColumn {
width: 50%
}
.typeColumn {
 width: 30%;
}
.noteColumn {
  width: 20%;
}
.lessonRow:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  background-color: rgba(255, 255, 255, .1);
  text-align: center;
}
.lessonRow:hover td {
  transform: scale (1.1);
}
.lessonRow .cancellationDate {
  color: rgb(242, 61, 106);
  text-decoration: line-through;
}
.lessonRow .cancellation {
  color: rgb(242, 61, 106);
}
.lessonRow .makeupDate {
  color: rgb(104, 245, 137);
}
.lessonRow .makeup {
  color: rgb(104, 245, 137);
}
.modal {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: rgba(0, 0, 0, .6);
  /* backdrop-filter: blur(20px); */

}
.modalContent {
  font-size: 1.5rem;
  border: solid red 4px;
  height: 10vh;
  background: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lesson:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}