.nestedSection {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  width: 75%;
  margin: 1rem 0rem 1rem 0rem;
  text-align:center;
}
.nestedSection h1 {

}

.lessonLog {
margin: 1rem;
}

.lessonLogTable {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.lessonLogHeader {
  /* width: 33%; */
  text-align: center;
  font-size: 1.5rem;

  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem 0rem 1rem 0rem;
}
.lessonLogCell {
  text-align: center;
  margin: 1rem 0rem 1rem 0rem;
}